.popup__content_type_game-loose {
  width: 415px;
  min-height: 230px;
  padding-right: 10px;
  padding-left: 10px;
}

@media screen and (max-width: 579px) {
  .popup__content_type_game-loose {
    width: 282px;
    min-height: 235px;
  }
}

@media screen and (max-width: 415px) {
  .popup__content_type_game-loose {
    width: 220px;
    min-height: 205px;
  }
}
