.header {
  outline: 1px solid #b10e0e;
  max-height: 15vh;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
