.card-back {
  background: #d00000;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  position: absolute;
  transition: transform .4s linear;
  transform: perspective(600px) rotateY(0deg);
  border-radius: 10px;
}
