.card__back-image {
  padding: 20px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /*background-color: #F2594B;*/
  /*background: rgb(234,236,255);*/
  /*background: rgb(113,118,239);*/
  backface-visibility: hidden;
}
